<div class="card">
  <% if course.poster.present? %>
    <%= image_tag course.poster, class: 'card-img-top img-fluid hidden-xs-down', alt: 'Not found' %>
  <% end %>
  <div class="card-block">
    <h4 class="card-title"><%= truncate(course.title, length: 25) %></h4>
    <p class="card-text"><%= truncate(course.description, length: 10) %></p>
    <p class="card-text">
      <%= link_to 'Visit', course_path(course), class: 'card-link lead' %>
    </p>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>