<%= content_for :head do %>
    <style>
      @keyframes type {
        from {
          width: 0
        }
      }

      .typing {
        white-space: nowrap;
        border-right: 2px solid;
        overflow: hidden;
        width: 8ch;
        animation: type 1s steps(8), brand-blinker .5s step-end infinite alternate;
      }
    </style>
<% end %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading typing" style="width: 170px;
        margin: 0 auto;">TeachBot</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc.
      Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <a href="#" class="btn btn-primary">Main call to action</a>
      <a href="#" class="btn btn-secondary">Secondary action</a>
    </p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center" class="display-4">Recent lessons</h1>
    </div>

    <div class="col">
      <% @courses.in_groups_of(2, false) do |group| %>
        <div class="row" style="margin-bottom: 10px">
          <%= render partial: 'course', collection: group, cached: true %>
        </div>
      <% end %>
    </div>
  </div>
</div>