<%= content_for :head do %>
  <style>
    @keyframes type {
      from {
        width: 0
      }
    }

    .typing {
      white-space: nowrap;
      border-right: 2px solid;
      overflow: hidden;
      width: 8ch;
      animation: type 1s steps(8), brand-blinker .5s step-end infinite alternate;
    }
  </style>
<% end %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading typing" style="width: 180px;
        margin: 0 auto;">TeachBot</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc.
      Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
  </div>
</section>

<h1 class="display-4 text-center">Recent courses</h1>
<hr>
<div class="card-deck">
  <%= render partial: 'courses/course', collection: @courses, cached: true, locals: {last_page: true} %>
</div>
<hr>