<a href="<%= course_path(course) %>" class="list-group-item list-group-item-action load-fade">
  <h5 class="list-group-item-heading">
    <%= course.title %>
  </h5>
  <p class="list-group-item-text">
    <%= course.description %>
  </p>
  <small>Type: <%= course.public %></small>
</a>