<div class="card card-block">
  <h4 class="card-title"><%= course.title %></h4>
  <p class="card-text"><%= course.description %></p>
  <%= link_to 'Visit', course_path(course), class: 'card-link' %>
  <%= link_to 'Edit', edit_course_path(course), class: 'card-link' if it_is_current_user(@user) %>
</div>