<div class="card course-card-custom">
  <div class="card-block">
    <h3 class="card-title"><%= recommendation.title %></h3>
    <p class="card-text"><%= recommendation.description %></p>
    <%= link_to 'Visit', course_path(recommendation), class: 'btn btn-primary' %>
  </div>
</div>