<a href="#" class="list-group-item list-group-item-action">
  <h5 class="list-group-item-heading">List group item heading</h5>
  <p class="list-group-item-text">
    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
  </p>
</a>