<div class="container" style="text-align: center; max-width: 600px">

  <div class="row" style="box-shadow: 0 0 5px; padding: 15px; margin-top: 30px">
    <div class="col-sm flex-xs-middle">
      <div>
        <h1 class="display-4"><%= @user.username %></h1>
      </div>
    </div>
    <div class="col-sm">
      <% if @user.avatar.nil? %>
          <%= image_tag '/assets/images/default_avatar.jpeg',
                        height: '200px', width: '200px', id: 'user_avatar' %>
      <% else %>
          <%= image_tag @user.avatar, height: '200px', width: '200px', id: 'user_avatar' %>
      <% end %>
    </div>
  </div>

  <div class="row" style="box-shadow: 0 0 5px; padding: 15px; margin-top: 15px">
    <div class="col-sm" style="text-align: left; word-wrap: break-word">
      <%= render 'profile_additional' %>
    </div>
  </div>

</div>