<div class="container load-fade">

  <div class="row" style="margin-top: 30px">
    <div class="col-md" style="margin-bottom: 15px">
      <div class="box-shadow-block">
        <div class="col-sm flex-xs-middle">
          <div class="row flex-items-xs-center">
            <div class="col-sm flex-xs-middle" style="text-align: center">
              <h1 class="display-4" id="user_username"><%= @user.username %></h1>
            </div>
            <div class="col-sm flex-xs-middle" style="text-align: center">
              <%= image_tag @user.avatar, height: '200px', width: '200px', id: 'user_avatar' %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <div class="box-shadow-block">
        <%= render 'profile_additional' %>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md">
      <%= react_component('Posts', {user: @user.id, auth: (current_user.id if current_user)}) %>
    </div>
  </div>
</div>