<footer class="text-muted footer">
    <div class="container">
        <p class="pull-xs-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
    </div>
</footer>