<% if flash[:success_notice] %>
  <div id="left_top_notification_app" data-message="<%= flash[:success_notice] %>" data-type="success"></div>
<% end %>

<% if flash[:info_notice] %>
  <div id="left_top_notification_app" data-message="<%= flash[:info_notice] %>" data-type="info"></div>
<% end %>

<% if flash[:danger_notice] %>
  <div id="left_top_notification_app" data-message="<%= flash[:danger_notice] %>" data-type="danger"></div>
<% end %>
