<div data-attachment-id="<%= id %>">
  <% if preview %>
    <div class="row">
      <div class="col-md-11 text-left">
        <span class="text-muted">Image</span>
      </div>
      <div class="col-md-1 text-right">
        <button type="button" class="close" data-name="deleteImageButton">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  <% end %>
  <%== !preview ? open_a_tag(url) : '' %>

  <img class="img-fluid" src="<%= url %>" alt="Not found">

  <%== !preview ? close_a_tag : '' %>

</div>