<div class="tab-content">
  <div class="tab-pane active" id="profile" role="tabpanel">
    <div class="container load-fade">
      <div class="row flex-items-xs-center" style="margin-top: 15px;">
        <h1>Create a lesson</h1>
      </div>
      <div class="row flex-items-xs-center">
        <div class="col-md-6">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>