<div class="input-group animated zoomIn" data-wysihtml5-dialog="createLink" style="display: none;">
  <input type="text" class="form-control" aria-label="Text input with dropdown button"
         data-wysihtml5-dialog-field="href" placeholder="http://...">
  <div class="input-group-btn">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      Action
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#"
         data-wysihtml5-dialog-action="save">Insert link</a>
      <a class="dropdown-item" href="#"
         data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>
  </div>
</div>