<div class="row flex-items-xs-left visit-lesson-block">
  <div class="col-sm-12 col-md-1 box-shadow-block" style="padding: 0;">
    <a href="<%= course_lesson_path(@course, lesson) %>" class="btn btn-primary btn-lg btn-block" style="height: 100%; border-radius: 0;">
      <i class="fa fa-arrow-circle-right" aria-hidden="true" style="font-size: 48px;"></i>
    </a>
  </div>
  <div class="col-sm-12 col-md-11">
    <div class="row">
      <div class="col-sm"><h2><%= lesson.title %></h2></div>
    </div>
    <div class="row">
      <div class="col-sm"><%= lesson.description %></div>
    </div>
    <div class="row">
      <div class="col-sm"><%= lesson.created_at %></div>
    </div>
  </div>
</div>