<div id="subscriptions_list" class="load-fade">
  <%= render partial: 'user_controllers/courses/course', collection: subscriptions %>
</div>
<div id="paginator" class="row justify-content-center">
  <%= paginate subscriptions, theme: 'simple_bootstrap_paginator', remote: true,
               params: {action: 'subscriptions', user_id: @user.id} %>
</div>