<div id="course_poster_block">
  <% if @course.poster %>
    <%= image_tag @course.poster, class: 'course-poster', id: 'course_poster_image' %>
  <% else %>
    <%= image_tag '', class: 'course-poster', id: 'course_poster_image', style: 'display: none' %>
  <% end %>
</div>
