<%= form_for(@course, url: { action: 'toggle_publish' }, remote: true, html: { id: 'course_status' }) do |f| %>
  <% if @course.published %>
    <span class="text-primary">Published</span>&ensp;
    <% if current_user?(@course.author) %>
      <%= f.submit 'Unpublish', class: 'btn btn-outline-warning btn-sm', data: {disable_with: 'Loading...'}
      %>

      <button type="button" class="btn btn-outline-info btn-sm" data-container="body"
              data-toggle="popover" data-placement="right"
              data-content="'Unpublished' course (and lessons) can be visited only by author and no one else.">
        <i class="fa fa-question" aria-hidden="true"></i>
      </button>
    <% end %>
  <% else %>
    <span class="text-warning">No published</span>&ensp;
    <% if current_user?(@course.author) %>
      <%= f.submit 'Publish', class: 'btn btn-outline-primary btn-sm', data: {disable_with: 'Loading...'} %>

      <button type="button" class="btn btn-outline-info btn-sm" data-container="body"
              data-toggle="popover" data-placement="right"
              data-content="'Published' course (and lessons) can be visited by everyone (if the course is public)">
        <i class="fa fa-question" aria-hidden="true"></i>
      </button>
    <% end %>
  <% end %>
<% end %>
