<div class="container-fluid" style="margin-top: 15px">
  <h1 style="text-align: center;">Public courses</h1>
  <hr>

  <div class="row">
    <div class="col-lg" id="index_courses">
      <%= render partial: 'courses' %>
    </div>
  </div>
</div>
