<div class="container-fluid" style="margin-top: 15px">
  <h1 style="text-align: center;">Public courses</h1>

  <div class="card-columns load-fade">
    <%= render partial: 'course', collection: @courses, cached: true, locals: {last_page: @courses.last_page?} %>
  </div>

  <hr>
  <div style="display: flex; justify-content: center" class="text-center">
    <%= paginate @courses, theme: 'simple_bootstrap_paginator' %>
  </div>
</div>
