<div class="container-fluid" style="margin-top: 15px">
  <div class="row">
    <div class="col-lg" id="index_courses">
      <%= render partial: 'courses' %>
    </div>
    <% if @popular_tags.present? || @recommendations.present? %>
    <div class="col-lg-3">
      <%= render partial: 'popular_tags' if @popular_tags.present? %>
      <%= render partial: 'recommendations' if @recommendations.present? %>
    </div>
      <% end %>
  </div>
</div>
