<button type="button" class="btn btn-secondary"
        data-wysihtml5-command="customCode"
        data-toggle="tooltip" data-placement="top" title="Mark code">
  <i class="fa fa-code" aria-hidden="true"></i>
</button>