<button type="button" class="btn btn-secondary"
        data-wysihtml5-command="createLink"
        data-toggle="tooltip" data-placement="top" title="Insert link to another resource">
  <i class="fa fa-link" aria-hidden="true"></i>
</button>