<button type="button" class="btn btn-secondary"
        data-wysihtml5-command="customInsertCode"
        data-toggle="tooltip" data-placement="top" title="Mark selected text as bold">
  <i class="fa fa-bold" aria-hidden="true"></i>
</button>