<button type="button" class="btn btn-secondary dropdown-toggle"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <i class="fa fa-header" aria-hidden="true"></i>
</button>
<div class="dropdown-menu">
  <h6 class="dropdown-header">Text headers (1 - large, 2 - medium)</h6>
  <div class="dropdown-divider"></div>
  <button class="dropdown-item" type="button"
          data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">
    header 1
  </button>
  <div class="dropdown-divider"></div>
  <button class="dropdown-item" type="button"
          data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">
    header 2
  </button>
  <!-- end -->
</div>