<button type="button" class="btn btn-secondary"
        data-wysihtml5-command="insertHTML"
        data-wysihtml5-command-value="<hr/>"
        data-toggle="tooltip" data-placement="top" title="Insert divider">
  <i class="fa fa-window-minimize" aria-hidden="true"></i>
</button>