<button type="button" class="btn btn-secondary"
        data-wysihtml5-command="insertImage"
        data-toggle="tooltip" data-placement="top" title="insert image">
  <i class="fa fa-file-image-o" aria-hidden="true"></i>
</button>