<button type="button" class="btn btn-secondary"
        data-wysihtml5-command="insertUnorderedList"
        data-toggle="tooltip" data-placement="top" title="Insert unordered list">
  <i class="fa fa-list-ul" aria-hidden="true"></i>
</button>