<button type="button" class="btn btn-secondary"
        data-wysihtml5-command="insertOrderedList"
        data-toggle="tooltip" data-placement="top" title="Insert ordered list">
  <i class="fa fa-list-ol" aria-hidden="true"></i>
</button>