<button type="button" class="btn btn-secondary"
        data-wysihtml5-command="italic" data-toggle="tooltip" data-placement="top"
        title="Mark selected text as italic">
  <i class="fa fa-italic" aria-hidden="true"></i>
</button>