<button type="button" class="btn btn-secondary"
        data-wysihtml5-command="justifyCenter" data-toggle="tooltip" data-placement="top"
        title="Align text to the center">
  <i class="fa fa-align-center" aria-hidden="true"></i>
</button>