<button type="button" class="btn btn-secondary"
        data-wysihtml5-command="justifyRight" data-toggle="tooltip" data-placement="top"
        title="Align text to the right">
  <i class="fa fa-align-right" aria-hidden="true"></i>
</button>