<button type="button" class="btn btn-secondary"
        data-toggle="tooltip" data-placement="top" title="Mark paragraph"
        data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">
  <i class="fa fa-paragraph" aria-hidden="true"></i>
</button>