// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.visit-lesson-btn {
  background: $brand-primary;
  color: white;
}

.course-top-line {
  height: 5px;
  background: $brand-primary;
}

.visit-lesson-block {
  padding-right: 15px;
  padding-left: 15px;
}

.course-poster {
  width: 100%;
  height: auto;
}

.course-poster-preview {
  height: 250px;
  width: 100%;
  margin-bottom: 5px
}

.course-subscriber-avatar {
  height: 50px;
  width: 50px;
}