// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.visit-lesson-btn {
  background: $brand-primary;
  color: white;
}

.course-top-line {
  height: 5px;
  background: $brand-primary;
}

.lesson_block {
  margin-bottom: 10px;
  margin-top: 10px;
}

.course-poster {
  width: 100%;
  height: auto;
  box-shadow: 0 0 5px;
}

.course-poster-preview {
  //height: 250px;
  width: 100%;
  margin-bottom: 5px
}

.course-subscriber-avatar {
  height: 50px;
  width: 50px;
}

#upload_poster_modal .cropper-container {
  width: 100%;
  height: auto;
}

.course-card-custom {
  margin-bottom: 15px;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}