@import "global_partials/*";

html, body {
  font-family: 'Lato', sans-serif;
}

.turbolinks-progress-bar {
  background-color: #FF4C3B;
}

.box-shadow-block {
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
}