#post_editor {
  outline: none;
  border: none;
}

.user_post {
  @extend .box-shadow-block;

  margin-top: 15px;
  padding: 15px;
}

.user_post_date {
  padding-top: 10px;
  padding-bottom: 10px;
}

.user_posts {
  margin-bottom: 15px;
}

.user_posts_form {
  @extend .box-shadow-block
}