// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fb-btn {
  @extend .btn;
  border-color: #3B5998;
  color: #3B5998;
}

.fb-btn:hover {
  border-color: #2a4273;
  background-color: #2a4273;
  color: white;
}

.vk-btn {
  @extend .btn;
  border-color: #6287AE;
  color: #6287AE;
}

.vk-btn:hover {
  border-color: #6287AE;
  background-color: #6287AE;
  color: white;
}

.gh-btn {
  @extend .btn;
  border-color: #444444;
  color: #444444;
}

.gh-btn:hover {
  border-color:  #2B2B2B;
  background-color:  #2B2B2B;
  color: white;
}