// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fb-btn {
  background: #3B5998;
  color: white
}
.fb-btn:hover {
  background: #2a4273;
}